.site-layout-content {
  padding: 24px;
  min-height: 480px;
  width:380px;
  margin: 0px auto;
}
.login-logo{
    height:78px;
}
.site-login-item{
    margin-top:20px;
}

.site-login-item button{
    float:right;
}
.login-page{
    background: url("../bg.svg");
}