#components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  #components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }
  
  #components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }

  .new-student-table-row{
    background-color:#ffd591;
  }
  .valid-student-table-row{
    background:#fff;
  }
  .invalid-student-table-row{
    background-color:#a8071a;
    color:#fff;
  }
  .invalid-student-table-row:hover{
    color:#000;
  }